* {
    margin: 0;
    padding: 0;
    border: 0;
    /* color: #f7f8fa; */
    color: #f0f2f4;

}

@font-face {
    font-family: zm;
    src: url(../font/SOURCECODEPRO-BOLD.TTF);
}

html {
    /* background-color: #f7f8fa; */
    background-color: black;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a {
    text-decoration: none;
}

/* 资料部分 */
.data {
    width: 300px;
    position: absolute;
    left: 70px;
    margin-top: 30px;
}

/* 头像 */
.head {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    padding: 20px 20px;
    counter-reset: #e3e7ea;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 10px;
}

.head:hover {
    background: #e3e7ea;
    color: #fff;
    box-shadow: 0 0 5px #e3e7ea, 0 0 25px #e3e7ea, 0 0 50px #e3e7ea,
        0 0 200px #e3e7ea;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.head img {
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

.head span {
    position: absolute;
    display: block;
}

.head span:first-child {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #e3e7ea);
    animation: animate1 1s linear infinite;
}

.head span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e3e7ea);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

.head span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #e3e7ea);
    animation: animate3 1s linear infinite;

    animation-delay: 0.5s;
}

.head span:nth-child(4) {
    bottom: 100%;
    left: 0;
    width: 4px;

    height: 100%;
    background: linear-gradient(360deg, transparent, #e3e7ea);
    animation: animate4 1s linear infinite;

    animation-delay: 0.75s;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.data .name {
    color: #6a727b;
    font-size: 20px;
    text-align: center;
}

.data button {
    width: 300px;
    height: 30px;
    border-radius: 6px;
    font-size: 16px;
    background: #f0f2f4;
    margin-top: 16px;
    transition: all 0.5s;
}

.data button a {
    color: #6a727b;
    transition: all 0.5s;
}

.data button:hover a {
    color: white;
}

.data button:hover {
    background-color: #d8dee4;
}

.data .followers {
    margin-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d8dee4;
}

.data dt {
    padding-top: 20px;
    height: 30px;
    border-top: 1px solid #d8dee4;
    color: #6a727b;
}

.data dd {
    height: 40px;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* 课程表部分 */
.timetable {
    position: absolute;
    left: 420px;
    top: 100px;
    box-shadow: 0px 1px 3px rgba(225, 225, 225), 0px 6px 16px rgba(225, 225, 225);
    border-radius: 10px;
    padding: 40px 50px;
}

.timSub {
    border-top: 70px #e3e7ea solid;
    width: 0px;
    height: 0px;
    border-left: 140px#f0f2f4 solid;
    position: relative;
}

.timSub b {
    font-style: normal;
    display: block;
    position: absolute;
    font-size: 20px;
}

.timSub b:first-child {
    top: -60px;
    left: -50px;
}

.timSub b:last-child {
    top: -40px;
    left: -120px;
}

.subject:nth-child(2n + 1) {
    background-color: #f0f2f4;
}

.subject:nth-child(2n) {
    background-color: #e3e7ea;
}

.describe {
    background-color: #e3e7ea;
}

.timetable table .timSub b, tr th, td {
    color: black;
}

.timetable .color {
    color: #f0f2f4;
}

.timetable th {
    width: 100px;
}

.timetable tr {
    height: 50px;
    text-align: center;
}

.timetable .headline {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "黑体";
}

/* 返回键 */
.return {
    position: absolute;
    right: 50px;
    top: 30px;
    box-shadow: 0px 0px 6px white;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    color: #f0f2f4;
    font-family: "黑体";
    background-color: black;
    transition: all 0.5s;
}

.return:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 40px white;
}