* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

html {
    background-color: #f7f8fa;
}

/* 标题 */
h1 {
    text-align: center;
    height: 100px;
    line-height: 100px;
    letter-spacing: 20px;
}

/* 图片展示 */
.show {
    float: left;
    width: 400px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .04), 0px 6px 16px rgba(0, 0, 0, .12);
    margin: 0 0 46px 50px;
    border-radius: 10px;
}

/* 小标题 */
.show h4 {
    height: 50px;
    text-align: center;
    line-height: 50px;
}

/* 图片 */
.show img {
    border-radius: 10px 10px 0px 0;
    width: 400px;
    height: 266px;
}

.show:hover h4 {
    font-size: 20px;
}

/* 返回 */
.return {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
}

.return:hover {
    font-size: 34px;
}