* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

html {
    /* background-color: #f7f8fa; */
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

/* 标题 */
h1 {
    font-family: "黑体";
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    letter-spacing: 14px;
}

.head {
    text-align: center;
    letter-spacing: 2px;
    color: #949494;
    margin: 2px 0 28px -14px;
}

/* 图片展示 */
.show {
    float: left;
    width: 400px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .04), 0px 6px 16px rgba(0, 0, 0, .12);
    margin: 0 0 46px 50px;
    border-radius: 10px;
}

/* 小标题 */
.show {
    transition: all 0.5s;
}

.show h4 {
    height: 50px;
    text-align: center;
    line-height: 50px;
}

/* 图片 */
.show img {
    border-radius: 10px 10px 0px 0;
    width: 400px;
    height: 266px;
}

.show:hover {
    box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -10px);
}

.show:hover h4 {
    font-size: 20px;
}

/* 返回 */
.return {
    position: absolute;
    top: 10px;
    left: 24px;
}

.return img {
    width: 100px;
}

.return img:hover {
    width: 110px;
}