* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: headline;
  src: url(../font/headline.ttf);
}

/* body {
  background: url(../img/bg3.jpg) no-repeat center center;
  background-size: cover;           
} */

body {
  background: url(../img/bg2.jpg) no-repeat center center;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  background-size: 100% 100%;
}

.container {
  margin: 0 auto;
  width: 70%;
}

dd {
  display: block;
}

.headline {
  padding: 100px 0 40px 0;
  margin: auto;
  font-size: 3em;
  font-family: headline;
  color: #333;
  text-shadow: 2px 2px 4px #6fb1b0;
  width: 200px;
}

.content {
  margin-left: 100px;
}

.basicInfo-item.name:before {
  content: "";
  display: block;
}

.basicInfo-block {
  width: 440px;
  float: left;
}

.basicInfo-item {
  line-height: 36px;
  display: block;
  padding: 0;
  margin: 0;
  float: left;
}

.content div {
  height: 36px;
}

/* 术语定义-dt */
.basicInfo-item.name {
  width: 120px;
  padding: 0 5px 0 12px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #6fb1b0;
}

/* 描述-dd */
.basicInfo-item.value {
  zoom: 1;
  color: #333;
  width: 285px;
  float: left;
  position: relative;
  word-break: break-all;
}

/* 悬停效果 */
.basicInfo-block div:hover {
  background-color: #6fb1b0;
  font-size: 20px;
  border-radius: 20px;
}

.basicInfo-block div:hover .basicInfo-item {
  color: #333;

}

/* 内容长的设置成两行 */
.basicInfo-block .special:hover {
  height: 72px;
}

/* 返回设置 */
.container .goBack {
  outline: none;
  background-color: transparent;
  color: #6fb1b0;
  font-size: 28px;
  font-weight: 700;
  font-family: headline;
  position: absolute;
  top: 70px;
  left: 8%;
}

/* 返回键悬停 */
.container .goBack:hover {
  color: #333;
  text-shadow: 2px 2px 4px #6fb1b0;
}